<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
</head>

<body>
	<div th:fragment="paginationbar">
		<div class="d-flex justify-content-end mb-0">
			<ul class="pagination pagination-sm">
				<li class="page-item" th:classappend="${page.first} ? 'disabled':''"><a
					class="page-link" th:href="@{${url}(page=0)}">First</a></li>
				<li class="page-item"
					th:classappend="${page.number} == 0 ? 'disabled':''"><a
					class="page-link" th:href="@{${url}(page=${page.number-1})}">Prev</a>
				</li>
				<th:block th:if="${page.totalPages} < 5">
					<li class="page-item"
						th:each='i : ${#numbers.sequence(0, page.totalPages - 1)}'
						th:classappend="(${i}==${page.number})? 'active' : ''"
						style="display: inline"><span class="page-link"
						th:if='${i}==${page.number}' th:text='${i+1}'>1</span> <a
						class="page-link" th:if='${i}!=${page.number}'
						th:href="@{${url}(page=${i})}"> <span th:text='${i+1}'>1</span></a></li>
				</th:block>
				<th:block th:if="5 <= ${page.totalPages}">
					<th:block th:if="${page.number} < 3">
						<li class="page-item" th:each='i : ${#numbers.sequence(0, 4)}'
							th:classappend="(${i}==${page.number})? 'active' : ''"
							style="display: inline"><span class="page-link"
							th:if='${i}==${page.number}' th:text='${i+1}'>1</span> <a
							class="page-link" th:if='${i}!=${page.number}'
							th:href="@{${url}(page=${i})}"> <span th:text='${i+1}'>1</span>
						</a></li>
					</th:block>
					<th:block
						th:if="${3 <= page.number && page.number <= page.totalPages-4}">
						<li class="page-item"
							th:each='i : ${#numbers.sequence(page.number-2, page.number+2)}'
							th:classappend="(${i}==${page.number})? 'active' : ''"
							style="display: inline"><span class="page-link"
							th:if='${i}==${page.number}' th:text='${i+1}'>1</span> <a
							class="page-link" th:if='${i}!=${page.number}'
							th:href="@{${url}(page=${i})}"> <span th:text='${i+1}'>1</span>
						</a></li>
					</th:block>
					<th:block th:if="${page.totalPages} - 4 < ${page.number}">
						<li class="page-item"
							th:each='i : ${#numbers.sequence(page.totalPages-5, page.totalPages -1)}'
							th:classappend="(${i}==${page.number})? 'active' : ''"
							style="display: inline"><span class="page-link"
							th:if='${i}==${page.number}' th:text='${i+1}'>1</span> <a
							class="page-link" th:if='${i}!=${page.number}'
							th:href="@{${url}(page=${i})}"> <span th:text='${i+1}'>1</span>
						</a></li>
					</th:block>
				</th:block>
				<li class="page-item" th:classappend="${page.last} ? 'disabled':''">
					<a class="page-link"
					th:href="@{${url}(code=*{code}, name=*{name}, page=(${page.number}+1))}">Next</a>
				</li>
				<li class="page-item" th:classappend="${page.last} ? 'disabled':''">
					<a class="page-link"
					th:href="@{${url}(code=*{code}, name=*{name}, page=(${page.totalPages}-1))}">Last</a>
				</li>
			</ul>
		</div>
	</div>
</body>

</html>