<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Registration</title>
<link rel="stylesheet" th:href="@{/css/style.css}" />
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
	<h2>Registration of employee</h2>
 	<form th:action="@{/employee/register/execute}" th:object="${employeeForm}" method="POST">
		<span th:text="*{name}">Name</span><br/>
		<button type="button" onclick="location.href='/employee/register/redo'">戻る</button>
		<button type="submit">送信</button>
	</form>
</body>
</html>
